Repository MJcoder-ai/OriginFD: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pnpm-lockfile-sync, migration-check, docker-build-test, api-client-check, env-file-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (node_modules|\.next|dist|build)
  pnpm-lockfile-sync: any of: (package\.json|pnpm-lock\.yaml)$
  migration-check: any of: ^services/api/(models|alembic)/
  docker-build-test: any of: (Dockerfile|docker-compose\.yml|\.dockerignore)
  api-client-check: any of: ^(services/api|packages/ts/http-client)/
  env-file-check: any of: \.env.*

🔥 CRITICAL FIX: SQLAlchemy Migration Schema Compatibility
  services/api/alembic/versions/752df9eaede8_add_component_management_schema.py
  services/api/models/document.py
Due: migration-check, api-client-check

FINAL BUILD TRIGGER: Complete Code Quality & Authentication Fixes - Database password synchronized - Code quality issues resolved - Ready for production deployment
  services/api/core/performance.py
  services/api/core/permissions.py
Due: api-client-check

CRITICAL FIX: Syntax Errors and Pre-commit Issues
  services/api/api/routers/auth.py
  services/api/api/routers/component_integration.py
  services/api/api/routers/components.py
  services/api/api/routers/documents.py
  services/api/api/routers/projects.py
  services/api/api/routers/suppliers.py
  services/api/core/database.py
  services/api/core/permissions.py
  services/api/database_api.py
  services/api/models/__pycache__/base.cpython-312.pyc
  services/api/models/__pycache__/project.cpython-312.pyc
  services/api/models/base.py
  services/api/models/project.py
  services/api/test_component_api.py
Due: migration-check, api-client-check

CRITICAL DATABASE FIX: Add missing base tables to migration
  services/api/alembic/versions/752df9eaede8_add_component_management_schema.py
Due: migration-check, api-client-check

ENTERPRISE FIX: Conditional Table Creation in Migration
  services/api/alembic/versions/752df9eaede8_add_component_management_schema.py
Due: migration-check, api-client-check

CRITICAL MIGRATION FIX: Remove Duplicate Table Creation
  services/api/alembic/versions/752df9eaede8_add_component_management_schema.py
Due: migration-check, api-client-check

CRITICAL MIGRATION FIX: Remove Invalid user_sessions Operations
  services/api/alembic/versions/752df9eaede8_add_component_management_schema.py
Due: migration-check, api-client-check

CRITICAL DEPLOYMENT FIX: Replace Invalid COMMIT_SHA with SHORT_SHA
  cloudbuild.yaml
Due: none

CODE QUALITY: Fix unused import in commerce router
  services/api/api/routers/commerce.py
Due: api-client-check

CRITICAL BUILD FIX: Proper SHORT_SHA Variable Substitution
  cloudbuild.yaml
Due: none

FUNDAMENTAL FIX: Use Correct Cloud Build Variable COMMIT_SHA
  cloudbuild.yaml
Due: none

ENTERPRISE FIX: Cloud Run Deployment Command Structure
  cloudbuild.yaml
Due: none

CRITICAL UI & SECURITY FIXES: Enterprise-Grade Platform
  apps/web/app/layout.tsx
  services/api/api/routers/auth.py
  services/api/core/performance.py
Due: typescript-check, api-client-check

CRITICAL FIX: Next.js Standalone Server Path
  apps/web/Dockerfile
Due: docker-build-test

CRITICAL FIX: Correct Next.js Standalone Server Path
  apps/web/Dockerfile
Due: docker-build-test

Fix standalone layout in web Dockerfile
  apps/web/Dockerfile
Due: docker-build-test

Use relative API bridge endpoint by default
  apps/web/src/lib/api-client.ts
Due: typescript-check

Add document and version models with project relationships
  services/api/models/__init__.py
  services/api/models/document.py
  services/api/models/project.py
Due: migration-check, api-client-check

Integrate shared patch utilities and add API test
  services/api/api/routers/documents.py
  tests/api/test_documents_patch.py
Due: api-client-check

Fix document version previous hash and extend test
  services/api/api/routers/documents.py
  tests/api/test_documents_patch.py
Due: api-client-check

Ensure document versions persist document_data on component binding
  services/api/api/routers/component_integration.py
  tests/api/test_component_integration.py
Due: api-client-check

Unify project and document creation
  apps/web/app/api/bridge/projects/route.ts
  apps/web/src/components/projects/new-project-modal.tsx
  apps/web/src/components/projects/project-explorer.tsx
  apps/web/src/lib/api-client.ts
  services/api/api/routers/projects.py
  services/api/odl_sd_api.py
Due: typescript-check, api-client-check

Add psutil dependency across Python configs
  pyproject.toml
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

Add bcrypt dependency across environments
  pyproject.toml
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

Add PEP 621 metadata and sync lock files
  .gitignore
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Enable core routers in API gateway
  services/api/main.py
Due: api-client-check

Update API router registration
  services/api/main.py
Due: api-client-check

Add router mounting smoke tests
  tests/api/test_router_mounting.py
  tests/factories.py
Due: none

Implement tenant-aware auth dependency
  services/api/api/routers/alarms.py
  services/api/api/routers/component_integration.py
  services/api/api/routers/components.py
  services/api/api/routers/documents.py
  services/api/api/routers/performance.py
  services/api/api/routers/projects.py
  services/api/api/routers/suppliers.py
  services/api/core/permissions.py
  services/api/deps.py
  services/api/models/__init__.py
  services/api/models/tenant.py
  services/api/models/user.py
  tests/api/test_component_integration.py
  tests/api/test_documents_patch.py
Due: migration-check, api-client-check

Add primary document reference to projects
  services/api/alembic.ini
  services/api/db/migrations/b8f4a5b1cd23_add_primary_document_reference.py
  services/api/models/project.py
Due: migration-check, api-client-check

Ensure project creation enforces tenant and links document
  services/api/api/__init__.py
  services/api/api/routers/__init__.py
  services/api/api/routers/projects.py
  services/api/models/project.py
  tests/api/projects/test_create_project.py
Due: migration-check, api-client-check

feat: add document export endpoint and tests
  services/api/api/routers/documents.py
  services/api/api/utils/__init__.py
  services/api/api/utils/document_serialization.py
  tests/api/documents/test_export.py
Due: api-client-check

Fix duplicate import in project document tests
  services/api/api/routers/documents.py
  services/api/main.py
  tests/api/documents/test_project_document.py
Due: api-client-check

Add document role checks and permission config
  services/api/api/routers/documents.py
  services/api/core/permissions.py
  services/api/core/role_config.py
  tests/api/documents/test_export.py
  tests/api/test_documents_patch.py
Due: api-client-check

Add document patch endpoint tests with model stubs
  tests/api/documents/conftest.py
  tests/api/documents/test_patch_endpoint.py
Due: none

Add orchestrator task schema and tests
  services/orchestrator/api/routers/tasks.py
  tests/orchestrator/test_tasks.py
Due: none

Add orchestrator webhook handler and document service
  services/api/api/routers/orchestrator.py
  services/api/api/services/__init__.py
  services/api/api/services/document_service.py
  services/api/core/config.py
  services/api/main.py
  tests/api/test_orchestrator_callbacks.py
Due: api-client-check

Add lifecycle tables and seed defaults for projects
  services/api/alembic/versions/8d6c0a521db0_create_lifecycle_tables.py
  services/api/api/routers/projects.py
  services/api/models/__init__.py
  services/api/models/lifecycle.py
  services/api/models/project.py
Due: migration-check, api-client-check

Implement lifecycle gate approval auditing
  services/api/api/routers/projects.py
  tests/api/projects/test_gate_approvals.py
Due: api-client-check

Fix approvals usage event test imports
  services/api/api/routers/approvals.py
  services/api/api/routers/commerce.py
  services/api/api/routers/documents.py
  services/api/api/routers/projects.py
  tests/api/projects/test_create_project.py
  tests/api/test_approvals_usage_event.py
  tests/api/test_documents_patch.py
  tests/api/test_router_mounting.py
Due: api-client-check
