Repository MJcoder-ai/OriginFD: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pnpm-lockfile-sync, migration-check, docker-build-test, api-client-check, env-file-check

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd apps/web && pnpm type-check'
  language: system
  pass_filenames: false

pnpm-lockfile-sync:
  name: pnpm Lockfile Sync Check
  entry: bash -c 'pnpm install --frozen-lockfile'
  language: system
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: bash -c 'cd services/api && python -c "from alembic.config import Config; from alembic import command; cfg = Config(\"alembic.ini\"); command.check(cfg)" || echo "Migration check skipped - no database connection"'
  language: system
  pass_filenames: false

docker-build-test:
  name: Docker Build Test
  entry: bash -c 'docker build --no-cache -f Dockerfile . -t originfd-test:latest && docker rmi originfd-test:latest'
  language: system
  pass_filenames: false

api-client-check:
  name: API Client Generation Check
  entry: bash -c 'node scripts/generate-api-client.js --check-only || echo "API client check skipped - no running API server"'
  language: system
  pass_filenames: false

env-file-check:
  name: Environment File Validation
  entry: bash -c 'python scripts/validate-env.py || echo "Environment validation skipped"'
  language: system
  pass_filenames: false

Configure API client base URL via env
  apps/web/src/lib/api-client.ts
Due: typescript-check

Implement lifecycle query and tests
  services/api/api/routers/projects.py
  services/api/models/__init__.py
  services/api/models/lifecycle.py
  tests/api/lifecycle/test_project_lifecycle.py
Due: migration-check, api-client-check

feat(web): add editable document tab with tests
  apps/web/app/(app)/projects/[id]/DocumentTab.tsx
  apps/web/app/(app)/projects/[id]/page.tsx
  apps/web/app/api/bridge/documents/[id]/route.ts
  apps/web/app/api/bridge/shared-data.ts
  apps/web/package.json
  apps/web/src/lib/api-client.ts
  apps/web/tests/unit/document-tab.test.tsx
  apps/web/tests/utils/ui-stub.tsx
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  pnpm-lock.yaml
Due: typescript-check, pnpm-lockfile-sync

feat: add document version timeline diff
  apps/web/app/(app)/projects/[id]/documents/page.tsx
  apps/web/app/api/bridge/documents/[id]/route.ts
  apps/web/app/api/bridge/documents/[id]/versions/route.ts
  apps/web/app/api/bridge/shared-data.ts
  apps/web/package.json
  apps/web/src/components/odl-sd/document-version-timeline.tsx
  apps/web/src/components/odl-sd/index.ts
  apps/web/src/lib/api-client.ts
  apps/web/tests/documents/document-version-timeline.test.tsx
  pnpm-lock.yaml
Due: typescript-check, pnpm-lockfile-sync

feat(projects): fetch lifecycle phases and add approval controls
  apps/web/package.json
  apps/web/src/components/projects/lifecycle-journey-helpers.ts
  apps/web/src/components/projects/lifecycle-journey.tsx
  apps/web/src/lib/api-client.ts
  apps/web/tests/projects/lifecycle-journey.test.ts
  pnpm-lock.yaml
Due: typescript-check, pnpm-lockfile-sync

feat: add project component integration tests
  apps/web/app/(app)/projects/[id]/__tests__/components-tab.test.tsx
  apps/web/app/(app)/projects/[id]/page.tsx
  apps/web/app/api/bridge/projects/[id]/components/add/route.ts
  apps/web/app/api/bridge/shared-data.ts
  apps/web/package.json
  apps/web/src/components/components/__tests__/component-selector.test.tsx
  apps/web/src/components/components/component-selector.tsx
  apps/web/src/lib/api-client.ts
  apps/web/test/mocks/originfd-ui.tsx
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  pnpm-lock.yaml
Due: typescript-check, pnpm-lockfile-sync

feat(projects): surface orchestrator tasks with tests
  apps/web/package.json
  apps/web/src/components/projects/lifecycle-journey.tsx
  apps/web/src/components/projects/project-orchestrator-tasks.test.tsx
  apps/web/src/components/projects/project-orchestrator-tasks.tsx
  apps/web/src/lib/api-client.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  pnpm-lock.yaml
Due: typescript-check, pnpm-lockfile-sync

Implement secure FastAPI auth integration
  apps/web/src/app/api/auth/login/route.ts
  apps/web/src/app/api/auth/logout/route.ts
  apps/web/src/app/api/auth/me/route.ts
  apps/web/src/app/api/proxy/[...path]/route.ts
  apps/web/src/components/lifecycle/lifecycle-dashboard.tsx
  apps/web/src/components/media/media-asset-manager.tsx
  apps/web/src/components/operations/alarm-panel.tsx
  apps/web/src/components/purchase-orders/po-dashboard.tsx
  apps/web/src/components/rfq/rfq-creation-wizard.tsx
  apps/web/src/components/rfq/rfq-dashboard.tsx
  apps/web/src/components/suppliers/supplier-portal.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/auth/auth-provider.tsx
  apps/web/src/lib/server/api-config.ts
  apps/web/tests/new-project-modal.spec.ts
Due: typescript-check

chore: remove legacy odl sd api
  services/api/odl_sd_api.py
Due: api-client-check

FIX: API Client TypeScript Compilation Issues - Ready for Cloud Build
  AI_DEPLOYMENT_CHECKLIST.md
  AI_QUICK_REFERENCE.md
  DEPLOYMENT_GUIDE.md
  DEPLOYMENT_GUIDE_ORGANIZED.md
  apps/web/src/components/media/media-asset-manager.tsx
  apps/web/src/components/purchase-orders/po-dashboard.tsx
  apps/web/src/components/rfq/rfq-creation-wizard.tsx
  apps/web/src/components/rfq/rfq-dashboard.tsx
  apps/web/src/components/suppliers/supplier-portal.tsx
  apps/web/tsconfig.tsbuildinfo
Due: typescript-check

PHASE 1: Remove Legacy ODL-SD API Implementation
  services/api/odl_sd_api.py
Due: api-client-check

PHASE 1: Add FastAPI Auth Integration
  apps/web/src/app/api/auth/login/route.ts
  apps/web/src/app/api/auth/logout/route.ts
  apps/web/src/app/api/auth/me/route.ts
  apps/web/src/app/api/proxy/[...path]/route.ts
  apps/web/src/lib/auth/auth-provider.tsx
  apps/web/src/lib/server/api-config.ts
Due: typescript-check

CRITICAL FIX: Docker Build Error - Remove Non-existent Packages Directory
  apps/web/Dockerfile
Due: docker-build-test

CRITICAL FIX: Python Syntax Error in lifecycle.py
  services/api/models/lifecycle.py
Due: migration-check, api-client-check

CRITICAL FIX: Code Quality Issues - Import Sorting and Formatting
  apps/web/tsconfig.tsbuildinfo
  services/api/alembic/versions/8d6c0a521db0_create_lifecycle_tables.py
  services/api/api/routers/alarms.py
  services/api/api/routers/approvals.py
  services/api/api/routers/component_integration.py
  services/api/api/routers/orchestrator.py
  services/api/api/routers/performance.py
  services/api/api/routers/projects.py
  services/api/api/services/__init__.py
  services/api/api/services/document_service.py
  services/api/api/utils/document_serialization.py
  services/api/core/permissions.py
  services/api/core/role_config.py
  services/api/deps.py
  services/api/main.py
  services/api/models/__init__.py
  services/api/models/__pycache__/lifecycle.cpython-312.pyc
  services/api/models/lifecycle.py
  services/api/models/tenant.py
Due: migration-check, api-client-check

CRITICAL FIX: Complete Build Issue Resolution
  services/api/alembic/versions/b8f4a5b1cd23_add_primary_document_reference.py
  services/api/api/routers/components.py
  services/api/api/routers/documents.py
  services/api/api/routers/suppliers.py
  services/api/api/utils/document_serialization.py
Due: migration-check, api-client-check

COMPREHENSIVE FIX: Python Version Consistency and Database Reset - Enterprise-grade deployment consistency
  Dockerfile
  services/api/Dockerfile
  services/api/alembic/versions/001_initial_schema.py
  services/api/alembic/versions_backup/752df9eaede8_add_component_management_schema.py
  services/api/alembic/versions_backup/8d6c0a521db0_create_lifecycle_tables.py
  services/api/alembic/versions_backup/b8f4a5b1cd23_add_primary_document_reference.py
  services/api/alembic/versions_backup/de1cf7c4075a_add_lifecycle_and_enhanced_component_.py
  services/api/models/__pycache__/__init__.cpython-312.pyc
  services/api/models/__pycache__/base.cpython-312.pyc
  services/api/models/__pycache__/lifecycle.cpython-312.pyc
  services/api/models/__pycache__/project.cpython-312.pyc
  services/api/models/__pycache__/tenant.cpython-312.pyc
  services/api/models/__pycache__/user.cpython-312.pyc
  services/orchestrator/Dockerfile
  services/workers/Dockerfile
Due: migration-check, docker-build-test, api-client-check

CRITICAL FIX: Add setuptools dependency for Python 3.12 compatibility - Resolves pip setuptools.build_meta import error during package builds
  requirements.txt
Due: none

CRITICAL FIX: Enhanced setuptools/wheel installation for Python 3.12 - Install setuptools and wheel early in all Dockerfiles to prevent build_meta import errors
  Dockerfile
  requirements.txt
  services/api/Dockerfile
  services/orchestrator/Dockerfile
  services/workers/Dockerfile
Due: docker-build-test, api-client-check

CRITICAL FIX: Update numpy to 1.26.4 for Python 3.12 compatibility - Resolves pkg_resources AttributeError with ImpImporter in build process
  requirements.txt
Due: none

CRITICAL BUILD FIX: Update pnpm-lock.yaml After PR Merges
  pnpm-lock.yaml
Due: pnpm-lockfile-sync

fix: Update lockfile for Monaco editor dependencies
  pnpm-lock.yaml
Due: pnpm-lockfile-sync

CRITICAL FIX: Remove remaining bridge API files causing build failure
  apps/web/app/api/bridge/documents/[id]/versions/route.ts
  apps/web/app/api/bridge/projects/[id]/components/add/route.ts
Due: typescript-check

CRITICAL FIX: Exclude Vitest config from Next.js TypeScript compilation
  apps/web/tsconfig.json
Due: none

Handle missing commit SHA in Cloud Run deploy steps
  cloudbuild.yaml
Due: none

FEATURE: Complete Component Management and Lifecycle API Implementation
  LOCAL_DEVELOPMENT_SETUP.md
  apps/web/public/styles.css
  apps/web/src/lib/api-client.ts
  apps/web/tsconfig.tsbuildinfo
  openapitools.json
  services/api/alembic/env.py
  services/api/alembic/versions/001_initial_schema.py
  services/api/api/routers/approvals.py
  services/api/api/routers/auth.py
  services/api/api/routers/projects.py
  services/api/core/database.py
  services/api/main.py
Due: typescript-check, migration-check, api-client-check

Add fallback parser when pypdf is unavailable
  services/orchestrator/tools/component_tools.py
Due: none

fix(api): address lint and security issues
  DEVELOPMENT_STANDARDS.md
  services/api/api/routers/auth.py
  services/api/main.py
  services/api/models/document.py
  services/api/models/project.py
  services/api/models/tenant.py
Due: migration-check, api-client-check

FINAL CLEANUP: Production-Ready Docker Deployment
  services/api/api/routers/auth.py
  services/api/main.py
  services/api/models/__pycache__/__init__.cpython-312.pyc
  services/api/models/__pycache__/document.cpython-312.pyc
  services/api/models/__pycache__/lifecycle.cpython-312.pyc
  services/api/models/__pycache__/project.cpython-312.pyc
  services/api/models/__pycache__/tenant.cpython-312.pyc
  services/api/models/__pycache__/user.cpython-312.pyc
  services/api/models/document.py
  services/api/models/project.py
  services/api/models/tenant.py
  services/api/models/user.py
  tests/api/projects/test_lifecycle_edge_gates.py
Due: migration-check, api-client-check

fix(api): resolve lint violations and harden service utilities
  services/api/api/routers/approvals.py
  services/api/api/routers/component_integration.py
  services/api/api/routers/components.py
  services/api/api/routers/health.py
  services/api/api/routers/performance.py
  services/api/api/routers/projects.py
  services/api/api/routers/suppliers.py
  services/api/auth_api.py
  services/api/core/auth.py
  services/api/core/dependencies.py
  services/api/database_api.py
  services/api/domain/lifecycle_hooks.py
  services/api/domain/lifecycle_service.py
  services/api/domain/lifecycle_view.py
  services/api/main.py
  services/api/models/base.py
  services/api/odl_sd/document_generator.py
  services/api/odl_sd/schemas.py
  services/api/seeders/__main__.py
  services/api/simple_components.py
  services/api/test_component_api.py
Due: migration-check, api-client-check

STAGE 1: Complete Flake8 Compliance - Zero Violations
  services/api/api/routers/approvals.py
  services/api/api/routers/auth.py
  services/api/api/routers/commerce.py
  services/api/api/routers/component_integration.py
  services/api/api/routers/components.py
  services/api/api/routers/documents.py
  services/api/api/routers/health.py
  services/api/api/routers/orchestrator.py
  services/api/api/routers/performance.py
  services/api/api/routers/projects.py
  services/api/api/routers/suppliers.py
  services/api/api/services/document_service.py
  services/api/auth_api.py
  services/api/core/auth.py
  services/api/core/dependencies.py
  services/api/core/logging_config.py
  services/api/database_api.py
  services/api/main.py
  services/api/models/base.py
  services/api/models/document.py
  services/api/models/lifecycle.py
  services/api/models/tenant.py
  services/api/odl_sd/document_generator.py
  services/api/odl_sd/schemas.py
  services/api/prestart.py
  services/api/seeders/__main__.py
  services/api/simple_components.py
  services/api/test_component_api.py
Due: migration-check, api-client-check

STAGE 2: Fix MyPy Module Path Conflicts
  services/api/core/__init__.py
  services/api/mypy.ini
Due: api-client-check

STAGE 3-4 COMPLETE: Final TypeScript Compliance - 100% Success
  apps/web/app/(app)/projects/[id]/__tests__/components-tab.test.tsx
  apps/web/app/(app)/projects/[id]/reviews/page.tsx
  apps/web/package.json
  apps/web/src/components/components/__tests__/component-selector.test.tsx
  apps/web/src/components/projects/lifecycle-journey.tsx
  apps/web/src/lib/api-client.ts
  apps/web/tests/documents/document-version-timeline.test.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  apps/web/vitest.d.ts
  pnpm-lock.yaml
  services/api/api/routers/commerce.py
  services/api/api/routers/orchestrator.py
  services/api/api/routers/projects.py
  services/api/core/__init__.py
  services/api/main.py
  services/api/models/__pycache__/base.cpython-312.pyc
  services/api/models/__pycache__/document.cpython-312.pyc
  services/api/models/__pycache__/lifecycle.cpython-312.pyc
  services/api/models/__pycache__/tenant.cpython-312.pyc
  services/api/models/base.py
  services/api/models/lifecycle.py
  services/api/prestart.py
Due: typescript-check, pnpm-lockfile-sync, migration-check, api-client-check

chore: harden lifecycle auth config and tests
  .gitignore
  apps/web/tests/projects/lifecycle-journey.test.tsx
  apps/web/tsconfig.tsbuildinfo
  services/api/api/routers/auth.py
  services/api/core/config.py
  services/api/main.py
  services/api/models/__pycache__/__init__.cpython-312.pyc
  services/api/models/__pycache__/base.cpython-312.pyc
  services/api/models/__pycache__/document.cpython-312.pyc
  services/api/models/__pycache__/lifecycle.cpython-312.pyc
  services/api/models/__pycache__/project.cpython-312.pyc
  services/api/models/__pycache__/tenant.cpython-312.pyc
  services/api/models/__pycache__/user.cpython-312.pyc
  services/api/models/lifecycle.py
  services/api/models/project.py
  services/api/models/tenant.py
  services/api/models/user.py
  tests/api/projects/test_lifecycle_contract.py
  tests/api/projects/test_lifecycle_edge_gates.py
Due: typescript-check, migration-check, api-client-check

CLEANUP: Pre-commit Configuration and Documentation Updates
  .pre-commit-config.yaml
  .secrets.baseline
  AGENTS.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (node_modules|\.next|dist|build)
  pnpm-lockfile-sync: any of: (package\.json|pnpm-lock\.yaml)$
  migration-check: any of: ^services/api/(models|alembic)/
  docker-build-test: any of: (Dockerfile|docker-compose\.yml|\.dockerignore)
  api-client-check: any of: ^(services/api|packages/ts/http-client)/
  env-file-check: any of: \.env.*
